body {
  min-height: 2000px;
}

.navbar .jumbotron #project {
  background-image: url("img/starss.jpg");
}

.navbar {
  background-image: url("img/starss.jpg");
}

.jumbotron {
  padding-top: 10rem;
  background-image: url("img/starss.jpg");
}

#about {
  background-color: black;
}

#project {
  background-image: url("img/starss.jpg");
}
section {
  padding-top: 5rem;
}
